In [1]:
import pandas as pd

In [8]:
df=pd.read_csv('data/sale.csv', encoding='cp949')

C:\Users\USER\AppData\Local\Temp\ipykernel_9152\979801795.py:1: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('data/sale.csv', encoding='cp949')

In [9]:
df

,시군구코드,접수년도,처리구분,접수번호,물건시퀀스번호,상세물건번호,변경구분,공개반영일,분양권단지코드,읍면동코드,...,아파트코드,해제여부,해제사유,해제사유발생일,중개구분,중개업소주소,거래주체정보_매도자(개인/법인/공공기관/기타),거래주체정보_매수자(개인/법인/공공기관/기타),신고번호,물건번호
0,41370,2017,4,951,1,1,NaN,NaN,1500057114,4137011000,...,1500057114,2,추가입력완료,NaN,NaN,NaN,NaN,NaN,45837231,1
1,41370,2017,4,912,1,1,NaN,NaN,1500057114,4137011000,...,1500057114,2,추가입력완료,NaN,NaN,NaN,NaN,NaN,45837208,1
2,41370,2017,4,814,1,1,NaN,NaN,1500057114,4137011000,...,1500057114,2,추가입력완료,NaN,NaN,NaN,NaN,NaN,45837165,1
3,41370,2017,4,811,1,1,NaN,NaN,1500057114,4137011000,...,1500057114,2,추가입력완료,NaN,NaN,NaN,NaN,NaN,45837163,1
4,41370,2017,4,807,1,1,NaN,NaN,1500004369,4137010200,...,1500004369,2,추가입력완료,NaN,NaN,NaN,NaN,NaN,45837161,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277181,41450,2014,4,5121,1,1,NaN,NaN,1500003520,4145011600,...,1500003520,2,추가입력완료,NaN,NaN,NaN,NaN,NaN,52937922,1
277182,41450,2014,4,5119,1,1,NaN,NaN,1500003520,4145011600,...,1500003520,2,추가입력완료,NaN,NaN,NaN,NaN,NaN,52937920,1
277183,41450,2014,4,5116,1,1,NaN,NaN,1500003520,4145011600,...,1500003520,2,추가입력완료,NaN,NaN,NaN,NaN,NaN,52937918,1
277184,41450,2014,4,5113,1,1,NaN,NaN,1500003520,4145011600,...,1500003520,2,추가입력완료,NaN,NaN,NaN,NaN,NaN,52937913,1
277185,41450,2014,4,5111,1,1,NaN,NaN,1500003520,4145011600,...,1500003520,2,추가입력완료,NaN,NaN,NaN,NaN,NaN,52937910,1